@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  font-family: 'Inter', -apple-system;
  @apply bg-white dark:bg-dark text-lightText dark:text-greyText;
  line-height: 1.5rem;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-dark dark:text-white;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-base;
}
a {
  @apply text-lightText dark:text-greyText;
}
p {
  @apply dark:text-grey;
}

* {
  box-sizing: border-box;
}
ul {
  list-style: decimal;
}

.landingSectionTitle::before {
  content: '';
  position: absolute;
  left: 110%;
  right: 0px;
  top: 50%;
  height: 2px;
  width: 100vw;
  opacity: 0.1;
  @apply bg-neutral-400 dark:bg-neutral-500;
}
